<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather App</title>
</head>

<body>
    {{>header}}
    <div id="page-not-found-box">
        <h1>Error 404 </br> Page Not Found!</h1>
    </div>
    <br><br>
    <p>Visit our homepage to explore our site from the beginning.</p>
    <a href="/">Home Page</a>
    {{>footer}}
</body>

</html>