<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    <br>
    <br>
    <h1>About Me</h1>
    <img src="/img/profile.png" width="200px" height="200px">
    <div id="about-me-box">
        <p id="about-me-text"> <span id="hi">Hi,</span> I am {{name}}. I am a <b>Software Developer</b> at Nagarro, Gurgaon. I have an extensive experience as a full-stack developer. I possess proficiency across various layers of software development from front-end to back-end systems.<br><br> My expertise lies in utilizing cutting-edge technologies such as Angular for front-end development, Node.js and Express.js for back-end services, and MongoDB for database management. My passion for technology and commitment to excellence drive me to continually expand my skills and deliver high-quality software solutions that exceed expectations.</p>
    </div>
    {{>footer}}
</body>
</html>
 