<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather App</title>
</head>

<body>
    {{>header}}
    <br>
    <br>
    <h1>Need Help?</h1>
    <br>
    <div id="need-help-box">
        <p>If you have any questions, concerns, or feedback, we're here to help! Please don't hesitate to reach out to
            us. Here are the different ways you can get in touch: <br><br> <b>1. Call Support:</b> You can call us
            directly at <b>{{contact}}</b>. We strive to respond to all emails
            within 24 hours. <br><br> <b>2. Email Support:</b> You can also email us directly at <a href="#">{{email}}</a>. We strive to
            respond to all emails within 24 hours.</p>
    </div>
    {{>footer}}
</body>

</html>